* {
  margin: 0;
  padding: 0;
}
/* navabr  starts here */
#main{
  max-width: 100%;
  height: 100px;
  background-color:#cc0000 ;
  display: flex;
  padding: 10px;
 
}
#main>div{
  margin-top: 20px;
  margin-left: 20px;
}


.logo{
color: #fff;
}
#main>div>a{
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
#main>div>a:hover{

  text-decoration: underline;
}
/* #search_bar{
  width: 300px;
  height: 50px;
} */
#search_div{
  display: flex;
}

#search_div>input{
  padding: 5px;
  width: 500px;
  height: 50px;
  border-radius: 10px;
}
#search-logo{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  
}
#signInlogo{
  margin-left: 20px;
  margin-right: 20px;
}
#cartlogo{
  display: flex;
  color: #fff;
}
.navbar-1{
  
  width: 100%;
  border: 1px solid black;
  display: flex;
}
.registry-1{
  width:50%;
  border: 1px solid black;
  padding-top: 10px;
}
.registry {
width: 50%;
border: 1px solid black;
display: flex;


}
.registry a{
  font-size:15px;
  
      text-decoration: none;
      color: rgb(102, 102, 102);
      margin: 10px;
      
}
#heart{
  height: 16px;
  margin-top: 10px;
}
/* navbar end here */

/* cart page start here */
.container{
  width: 90%;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 30%;
 
}

.your-cart{
  /* border: 1px solid black; */
  display: grid;
  
}
/* .product-cart{
  /* border: 1px solid black; */
/* } */ 
.yourCart{
  text-align: center;
  background-color:#EEEEEE;
  
}
.yourCart >p{
  font-size:16px;
  color: #333333;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
}
.shipping{
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  background-color: white;
}
.shipping p{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}
.products-information{
  background-color:#BDBDBD;
}
.product-cart{
  background-color:white;
}
#data{
  display: grid;
  /* grid-gap: 10%; */
  /* grid-template-rows: 15% 15% 15% 15%; */
/* border: 1px solid black; */
  margin-top: 50px;
  
  
}
.products-information{
  display: grid;
   grid-template-columns: 20% 20% 20% 20%;
   grid-gap: 5%;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 700;
}
.cart-div{
  display: grid;
  grid-template-columns:20% 20% 20% 20%;
  grid-gap: 5%;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.cart-div img{
  height: 50px;
  width:50px;
}
/* .payment-final{
  /* border: 1px solid black; */
/* } */ 
.order-summary >p{
 font-size: 19px;
 /* font-weight: bold; */
 font-family: 'Nunito', sans-serif;
  font-weight: bold;
   text-align: start;
   line-height:24px;
   margin: 10px;
}
#promocode{
  height: 25px;
  margin-left: 10px;
}
#Apply{
  width:50px;
  height:20px;
}
#Apply p{
  font-size:10px;
  font-family: 'Nunito', sans-serif;
  
}
.payment{
  width:100%;
display: grid;
grid-template-columns: 45% 45%;
grid-gap: 5%;
  /* border-top: 1px solid black; */
}
.delivery p{
  font-size:14px;
font-family: 'Nunito', sans-serif;
padding: 5px;
font-weight:800;
margin-left: 10px;
}
.delivery h6{
  font-size:10px;
  font-family: 'Nunito', sans-serif;
  margin-left: 5px;
  
}
.cart-payment p{
  font-size:14px;
text-align:right;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  font-weight:800;
}
.total-payment{
  display: flex;
  
}
.total-payment h3{
  
  font-family: 'Nunito', sans-serif;margin-left: 10px;
}
.total-payment span{
  font-family: 'Nunito', sans-serif;
  margin-left: 180px;
   font-weight:800; 
}
#total-paymentButton{
  margin-left:20px;
  text-align: center;
  background-color:#D32F2F;
  height: 40px;
  width: 90%;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: Bold;
  margin-top: 20px;
  border-radius: 5px;
  border:none !important;
}
#total-paymentButton a{
  text-decoration: none;
  color: beige;
}
hr{
  margin: 10px;
}