* {
  margin: 0;
  padding: 0;
}
.container {
  width: 50%;
  padding-top: 20px;
  margin: auto;
  
}
img {
  height: 42px;
  width: 42px;
  margin-top: 10px;
  margin-left: 48%;
}
h2 {
  margin: 10px;
  text-align: center;
  font-family: "Helvetica for Target", HelveticaForTarget, Targetica,
    "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 23px;
  color: #333333;
  line-height: 28.75px;
}

#Email {
  width: 95%;
  margin: 10px;
  height: 40px;
}
#first {
  width: 95%;
  margin: 10px;
  height: 40px;
}
#last {
  width: 95%;
  margin: 10px;
  height: 40px;
}
#Mobile {
  width: 95%;
  margin: 10px;
  height: 40px;
}
#createPassword {
  width: 95%;
  margin: 10px;
  height: 40px;
}
.checkingbox {
  font-size: 12px;
  margin-left: 40px;
  text-align: start;
  line-height: 17.142px;
  font-family: "Helvetica for Target", "HelveticaForTarget", "Targetica",
    "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#policy{
    margin: 20px;
    font-size:12px;
    text-align: justify;
    font-family: Targetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #666666;
}
button{
    height: 50px;
    width: 90%;
    margin-top: 30px;
    margin-left: 20px;
    font-family: "Helvetica for Target", HelveticaForTarget, Targetica, "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    text-align: center;

}
a{
    text-align:center ;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(102, 102, 102);
  font-size: 20px;

  
}
a>p{
    margin: 10px;
    padding: 10px;
}